.button {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 500;
  transition: var(--transition);
  cursor: pointer;
  border: none;
}

.button.primary {
  background-color: var(--primary-color);
  color: var(--white);
  
}

.button.primary:hover:not(:disabled) {
  background-color: var(--primary-hover);
  transform: translateY(-2px);
}

.button.secondary {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.button.secondary:hover:not(:disabled) {
  background-color: var(--primary-color);
  color: var(--white);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}