.header {
  position: fixed;
  height: 72px;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 80px;
  margin: 0 654px 0 64px ;
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  color: #101828;
  transition: var(--transition);
}

.logo:hover {
  transform: scale(1.05);
}
.logoGrey{
  color: #475467;
  font-size: 24px;
  font-weight: 700;
}
.nav {
  display: flex;
  gap: 32px;
  margin-left: 600px;
}

.navLink {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
  transition: var(--transition);
  padding: 8px 0;
}

.navLink:hover {
  color: var(--primary-color);
}

.navLink.active {
  color: var(--primary-color);
  border-bottom-color: var(--primary-color);
}