.homePage {
  min-height: calc(900px - 72px); /* viewport - header  */
  display: flex;
  align-items: center;
  justify-content: center;
  background:url('/src/assets/images/Picture.png') center/cover;
  
}

.heroSection {
  margin: 260px 805px 260px 64px;
  color: var(--white);
  width: 100%;
}

.title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 16px;
  width: 571px;
  line-height: 32px;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 40px;
  opacity: 0.9;
  line-height: 32px;
  font-weight: 600;
  width: 550px;
  margin-bottom: 40px;
}